p, ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    width: 240px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 7px;
}

.avatar {
    width: 100px;
    border-radius: 50px;
    background-color: grey;
}

.name {
    font-weight: 700;
    margin-top: 20px;
    
}

.tag, .location, .label {
    color: gray;
}

.stats {
    display: flex;
}

.quantity {
    font-weight: 700;
}

.statsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58px;
    box-shadow: 0p x1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    padding: 10px;
    border: 1px solid #eee;
}